/* Global (mobile-first) Styles */
body,
html {
  margin: 0px;
  padding: 0;
  font-family: sans-serif;
  background-color: #80fcfc;
  box-sizing: border-box;
   overflow: hidden;
  /* transform: scale(1.5); */
}
/* button */
.btn {
  margin-top: -43px;
  margin-left: 50px;
  padding: 15px 60px;
  border: none;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: absolute;
  z-index: 0;
  border-radius: 12px;
}
.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
.btn:hover::before {
  opacity: 1;
}

.btn:active:after {
  background: transparent;
}

.btn:active {
  color: #000;
  font-weight: bold;
}
.box {
  width: 300px;
  height: 450px;
  background-color: #f2f3f5;
  padding-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 90px;
  margin-left: 150px;
}
#content {
  text-align: absolute;
  font-style: oblique;
  font-size: 13px;
  font-weight: 800;
  color: black;
  padding: 10px;
  margin-top: 0px;
  margin-left: 30px;
  width: 300px;
}
.assignment {
  width: 500px;
  margin-left: 65px;
}
.assignment1 {
  text-align: center;
  width: 200px;
  height: 30px;
  padding-top: 5px;
  background-color: #000000;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 0px;
  margin-top: 10px;
  margin-left: 45px;
  font-size: 15px;
  
}
.ass1 {
  justify-content: center;
  text-decoration: solid;
  color: white;
}
.assignment2 {
  text-align: center;
  width: 200px;
  height: 30px;
  padding-top: 5px;
  background-color: #000000;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 100px;
  margin-top: 25px;
  margin-left: 45px;
}
.ass2 {
  justify-content: center;
  text-decoration: solid;
  color: white;
}

.assignment3 {
  text-align: center;
  width: 200px;
  height: 30px;
  background-color: #000000;
  padding-top: 5px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 0px;
  margin-top: -75px;
  margin-left: 45px;
}
.ass3 {
  justify-content: center;
  text-decoration: solid;
  color: white;
}
.assignment4 {
  text-align: center;
  width: 200px;
  height: 30px;
  background-color: #000000;
  padding-top: 5px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 0px;
  margin-left: 45px;
  margin-top: 25px;
}
.ass4 {
  justify-content: center;
  text-decoration: solid;
  color: white;
}
.assignment5 {
  text-align: center;
  width: 200px;
  height: 30px;
  background-color: #000000;
  padding-top: 5px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 0px;
  margin-left: 45px;
  margin-top: 25px;
}
.ass5 {
  justify-content: center;
  text-decoration: solid;
  color: white;
}
.assignment6 {
  text-align: center;
  width: 200px;
  height: 30px;
  background-color: #000000;
  padding-top: 5px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 0px;
  margin-left: 45px;
  margin-top: 25px;
}
.ass6 {
  justify-content: center;
  text-decoration: solid;
  color: white;
}
/* Mobile (max-width: 600px) */
@media only screen and (max-width: 600px) {
  .box {
    width: 70%;
    margin-top: 80px;
    margin-left: 66px;
  }
  #content {
    margin-bottom: 10px;
    margin-left: 20px;
    width: 300px;
  }
  .assignment {
    font-size: 14px;
    width: 100%;
    margin-left: 60px;
  }
  .assignment1 {
    font-size: 14px;
    margin-left: 40px;
  }
  .assignment2 {
    font-size: 14px;
    margin-left: 40px;
  }
  .assignment3 {
    font-size: 14px;
    margin-left: 40px;
  }
  .assignment4 {
    font-size: 14px;
    margin-left: 40px;
  } 
}
/* Tablet (min-width: 601px) and (max-width: 1024px) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .box {
    width: 70%;
    margin-top: 80px;
    margin-left: 60px;
  }
  #content {
    margin-bottom: 10px;
    margin-left: 20px;
    width: 300px;
  }
  .assignment {
    font-size: 16px;
    width: 100%;
    margin-left: 60px;
  }
  .assignment1 {
    font-size: 16px;
    margin-left: 40px;
  }
  .assignment2 {
    font-size: 16px;
    margin-left: 40px;
  }
  .assignment3 {
    font-size: 16px;
    margin-left: 40px;
  }
  .assignment4 {
    font-size: 16px;
    margin-left: 40px;
  }
}
/* Desktop (min-width: 1025px) */
@media only screen and (min-width: 1025px) {
  .box {
    width: 21%;
    margin-top: 80px;
    margin-left: 60px;
  }
  #content {
    margin-bottom: 10px;
    margin-left: 6px;
    width: 300px;
    font-size: 15px;
  }
 .assignment {
    font-size: 15px;
    width: 100%;
    margin-left: 78px;
  }
  .assignment1 {
    font-size: 18px;
    margin-left: 40px;
  }
  .assignment2 {
    font-size: 18px;
    margin-left: 40px;
  }
  .assignment3 {
    font-size: 18px;
    margin-left: 40px;
  }
  .assignment4 {
    font-size: 18px;
    margin-left: 40px;
  }
}
